* {
  box-sizing: border-box;
}
table {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
thead {
  color: white;
  font-weight: bolder;
}

.td1 {
  background-color: #7787a9;
}
.td2 {
  background-color: #4d628f;
}
.td3 {
  background-color: #2a4271;
}
.td4 {
  background-color: #152857;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
}

table,
td,
th {
  border: 0px solid grey;
  padding: 5px;
}

/* td:nth-child(2n) {
  background-color: #e6e6e6;
}
td:nth-child(2n + 1) {
  background-color: #f3f3f3;
} */

/* tbody tr:nth-child(2n + 1) td:nth-child(2n + 1) {
  background-color: #dbdbdb;
}
tfoot tr:nth-child(2n + 1) td:nth-child(2n + 1) {
  background-color: #dbdbdb;
}
tbody tr:nth-child(2n) td:nth-child(2n) {
  background-color: #f3f3f3;
}
tfoot tr:nth-child(2n) td:nth-child(2n) {
  background-color: #f3f3f3;
}
tbody tr:nth-child(2n) td:nth-child(2n + 1) {
  background-color: #e6e6e6;
}
tfoot tr:nth-child(2n) td:nth-child(2n + 1) {
  background-color: #e6e6e6;
} */
/* tbody tr:nth-child(2n + 1) {
  background-color: #dbdbdb;
}

tbody tr:nth-child(2n) {
  background-color: #e6e6e6;
}

tr td:nth-child(2n) {
  background-color: #f3f3f330;
} */
tbody tr:nth-child(2n + 1) *:nth-child(2n + 1),
tfoot tr:nth-child(2n + 1) *:nth-child(2n + 1) {
  background-color: #dbdbdb;
}

/* парні комірки в парних рядках */
tbody tr:nth-child(2n) *:nth-child(2n),
tfoot tr:nth-child(2n) *:nth-child(2n) {
  background-color: #f3f3f3;
}

/* парні комірки в непарних рядках */
/* непарні комірки в парних рядках */
tbody tr:nth-child(2n + 1) *:nth-child(2n),
tfoot tr:nth-child(2n + 1) *:nth-child(2n),
tbody tr:nth-child(2n) *:nth-child(2n + 1),
tfoot tr:nth-child(2n) *:nth-child(2n + 1) {
  background-color: #e6e6e6;
}
