* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  border: 2px red solid;
  padding: 5px; /* vh, vmin, % */
  margin: 1em;
  width: 90%;
  /* height: 100px; */
}
span {
  display: block;
}
p {
  display: inline;
}
ul {
  text-align: center;
}
li {
  display: inline-block;
  border: 2px solid green;
  padding: 2em;
}
